STORE_DEV_DATABASE_USERNAME={{DEV_DB_ROLE}}
STORE_DEV_DATABASE_PASSWORD={{DEV_DB_PASSWORD}}
STORE_DEV_DATABASE_HOST={{DEV_DB_HOST}}
STORE_DEV_DATABASE_PORT={{DEV_DB_PORT}}
STORE_DEV_DATABASE_NAME={{DEV_DB_NAME}}
