STORE_TEST_DATABASE_USERNAME={{TEST_DB_ROLE}}
STORE_TEST_DATABASE_PASSWORD={{TEST_DB_PASSWORD}}
STORE_TEST_DATABASE_HOST={{TEST_DB_HOST}}
STORE_TEST_DATABASE_PORT={{TEST_DB_PORT}}
STORE_TEST_DATABASE_NAME={{TEST_DB_NAME}}
